@import "../../styles/variables";
@import "../../styles/mixins";

.defaultText {
    @include common-text(1rem, 400);
    line-height: 1.6rem;
}

.titleText {
    @include common-text(3vw, 700);
    max-width: 200px;
    line-height: 3.5vw;
}

.subtitleText {
    @include common-text(1.4rem, 400);
    color: $accent-color-primary;
    font-family: "Bebas Neue", sans-serif;
}

.primaryAccentText, .secondaryAccentText {
    @include common-text(8.4vw, 700);
}

@media screen and (min-width: 767px) and (max-width: 1020px) {
    .primaryAccentText, .secondaryAccentText {
        @include common-text(7rem, 700);
    }
}

@media screen and (max-width: 767px) {
    .primaryAccentText, .secondaryAccentText {
        @include common-text(4rem, 700);
    }
}

.primaryAccentText {
    color: $secondary-color;
}

.secondaryAccentText {
    color: $accent-color-secondary;
}

.smallText {
    @include common-text(1rem, 400);
}

