@import "../../styles/variables";
@import "../../styles/mixins";


.titleText {
    @include common-text(3vw, 700);
    max-width: 200px;
    line-height: 3.5vw;
}


.primaryAccentText, .secondaryAccentText {
    @include common-text(8.5rem, 700);
}

.primaryAccentText {
    color: $secondary-color;
}

.secondaryAccentText {
    color: $accent-color-secondary;
}

.smallText {
    @include common-text(1rem, 400);
}