@import 'variables';

@mixin bordered-container() {
    border-style: solid;
    border-width: $border-width;
    border-color: $primary-color-transparent;
}

@mixin common-text($font-size, $font-weight) {
    font-family: 'PT Sans', system-ui;
    font-style: normal;
    color: $primary-color;
    font-size: $font-size;
    font-weight: $font-weight;
}