$primary-color: #42567A;
$primary-color-transparent: transparentize($primary-color, 0.5);
$background-color: #F4F5F9;
$secondary-color: #5d5fef;
$accent-color-primary: #3877EE;
$accent-color-secondary: #EF5DA8;

$border-width: 1px;
$title-border-width: 5px;
